$left-width: 64px;
$top-height: 48px;

.navbar, .sidebar, .view {
    position: absolute;
    overflow: hidden;
    transition: 0.5s ease;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

button {
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease;
    -webkit-app-region: no-drag;
}

.navbar {
    top: 0;
    left: $left-width;
    height: $top-height;
    right: 0;

    button {
        top: 0;
        height: 100%;
        position: absolute;
    }
    
    div.title {
        top: 0;
        height: 28px;
        padding: 10px 120px 10px 56px;
        text-align: -webkit-left;
        font-size: 20px;
        transition: 0.5s ease;
    }
    
    div.top-right {
        position: absolute;
        top: 4px;
        bottom: 4px;
        right: 4px;
        float: right;

        button {
            width: 40px;
            padding: 8px 0;
            &.minimize { right: 80px }
            &.maximize { right: 40px }
            &.close { right: 0 }
        }
    }
}

.sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    width: $left-width;
    padding-top: $top-height;

    button {
        width: 64px;
        height: 64px;

        i {
            font-size: 28px;
            padding: 4px;
        }
    }

    .current-route {
        left: 60px;
        width: 4px;
        height: 64px;
        transition: 0.5s ease;
        position: absolute;
    }
}

.view {
    top: $top-height;
    left: $left-width;
    bottom: 0;
    right: 0;
}

div[class$="-border"] {
    position: absolute;
    -webkit-app-region: no-drag;
}

.top-border { top: 0; left: 0; height: 2px; width: 100% }
.bottom-border { bottom: 0; left: 0; height: 2px; width: 100% }
.left-border { top: 0; left: 0; height: 100%; width: 2px }
.right-border { top: 0; right: 0; height: 100%; width: 2px }


