<div :class="settings.theme">
  <div class="navbar">
    <div class="title" v-t="'title.' + $route.name"/>
    <div class="top-right">
      <button @click="browser.minimize()" class="minimize">
        <i class="icon-window-minimize"/>
      </button>
      <button @click="toggleMaximize()" class="maximize">
        <i v-if="maximize" class="icon-window-restore"/>
        <i v-else class="icon-window-maximize"/>
      </button>
      <button @click="browser.close()" class="close">
        <i class="icon-window-close"/>
      </button>
    </div>
  </div>
  <div class="sidebar">
    <el-tooltip v-for="root in roots" :key="root" :hide-after="1000"
      :content="$t('title.' + root)" placement="right" :enterable="false">
      <button @click="switchRoute(rootMap[root])"
        :class="{active: root === $route.path.match(/^\/(\w+)/)[1]}">
        <i :class="'icon-' + root"/>
      </button>
    </el-tooltip>
    <div class="current-route" :style="{top: currentRootTop}"/>
  </div>
  <div class="view" v-loading="loading">
    <keep-alive>
      <router-view :class="$route.name" :height="height" :width="width"
        @loading="loading = true" @loaded="loading = false"/>
    </keep-alive>
  </div>
  <div class="top-border"/>
  <div class="bottom-border"/>
  <div class="left-border"/>
  <div class="right-border"/>
</div>