<div :class="settings.theme">
  <div class="navbar">
    <div class="title" v-t="$route.name"/>
    <div class="top-right">
      <button @click="browser.minimize()" class="minimize">
        <i class="icon-window-minimize"/>
      </button>
      <button @click="toggleMaximize()" class="maximize">
        <i v-if="maximize" class="icon-window-restore"/>
        <i v-else class="icon-window-maximize"/>
      </button>
      <button @click="browser.close()" class="close">
        <i class="icon-window-close"/>
      </button>
    </div>
  </div>
  <div class="sidebar">
    <button v-for="route in routes"
      @click="$router.push(route)"
      :class="{active: route === $route.name}">
      <i :class="'icon-' + route"/>
    </button>
    <div class="current-route"
      :style="{top: 48 + routes.indexOf($route.name) * 64 + 'px'}"/>
  </div>
  <div class="view">
    <keep-alive>
      <router-view/>
    </keep-alive>
  </div>
  <div class="top-border"/>
  <div class="bottom-border"/>
  <div class="left-border"/>
  <div class="right-border"/>
</div>