& {
    text-align: center;
    position: relative;
}

.input {
    display: -webkit-flex;
    margin: 12px auto;

    .label {
        font-size: 18px;
        width: 80px;
        flex: 1 1 auto;
        margin: auto 8px;
        text-align: center;

        & + div { flex: 2 1 auto }
    }
}

.el-checkbox {
    height: 20px;
    margin: 16px;
    display: block;

    .el-checkbox__inner {
        width: 20px;
        height: 20px;
        border-radius: 4px;
    
        &::after {
            border-width: 2px;
            height: 11px;
            left: 5px;
            top: 0px;
            width: 5px;
        }
    }

    .el-checkbox__label {
        font-size: 16px;
        line-height: 20px;
        vertical-align: middle;
    }
}

.el-button {
    display: block;
    margin: 20px auto 0;
}

