.image {
    display: inline-block;
    &.image-view { display: block }

    img {
        display: block;
        margin: auto;
        max-width: 100%;
    }
}

.manga-view {
    overflow-y: hidden;
    white-space: nowrap;
}