<div><template v-if="illust">
  <pixiv-image v-if="illust.page_count === 1" class="image-view"
    :max-width="imageMaxWidth" :max-height="imageMaxHeight"
    :large-url="illust.image_urls.large" :original-url="illust.meta_single_page.original_image_url">
  </pixiv-image>
  <div v-else class="manga-view">
    <pixiv-image v-for="(page, index) in illust.meta_pages" :key="index"
      :max-width="imageMaxWidth" :max-height="imageMaxHeight"
      :large-url="page.image_urls.large" :original-url="illust.image_urls.original"/>
    </pixiv-image>
  </div>
  <pixiv-caption :node="illust.caption"/>
  <div>view: {{illust.total_view}}</div>
  <div>bookmark: {{illust.total_bookmarks}}</div>
</template></div>