<div>
  <h2 v-t="'settings.basic'" :style="{width: itemWidth}"/>
  <div class="setting-group" :style="{width: itemWidth}">
    <div class="setting-item">
      <div class="label" v-t="'settings.theme'"/>
      <div class="control">
        <el-select v-model="settings.theme" size="medium">
          <el-option v-for="(item, index) in library.themes"
            :key="index" :label="$t('themes.' + item)" :value="item"/>
        </el-select>
      </div>
    </div>
    <div class="setting-item">
      <div class="label" v-t="'settings.language'"/>
      <div class="control">
        <el-select v-model="language" size="medium">
          <el-option v-for="(label, key) in library.i18n"
            :key="key" :label="label" :value="key"/>
        </el-select>
      </div>
    </div>
  </div>
  <h2 v-t="'settings.network'" :style="{width: itemWidth}"/>
  <div class="setting-group" :style="{width: itemWidth}">
    <div class="setting-item">
      <div class="label" v-t="'settings.timeout'"/>
      <div class="control">
        <el-input v-model="timeout" size="medium">
          <template slot="append">{{ $t('settings.second') }}</template>
        </el-input>
      </div>
    </div>
  </div>
</div>