.setting-group {
    margin: 20px auto;
    box-shadow: 0 0 3px 3px black;

    .setting-item {
        padding: 0;
        -webkit-user-select: none;
        display: -webkit-flex;
        &:not(:last-child) { border-bottom: 1px black solid }

        .label {
            flex: 1 1 auto;
            text-decoration: none;
            padding: 0.8em 1em;
            line-height: 1.1em;
            background: none;
            font-size: 12px;
            display: inline-block;
            box-sizing: border-box;
            margin: 0;
        }

        .control {
            display: inline-block;
            flex: 2 1 auto;
            padding: 0.8em 1em;
            line-height: 1.1em;
            font-size: 12px;
            text-align: right;
        }
    }
}


