<div :style="{width: itemWidth}">
  <h2 v-text="$t('settings.basic')"/>
  <div class="setting-group">
    <div class="setting-item">
      <div class="label" v-text="$t('settings.theme')"/>
      <div class="control">
        <el-select v-model="settings.theme" size="medium">
          <el-option v-for="(item, index) in library.themes"
            :key="index" :label="$t('themes.' + item)" :value="item"/>
        </el-select>
      </div>
    </div>
    <div class="setting-item">
      <div class="label" v-text="$t('settings.language')"/>
      <div class="control">
        <el-select v-model="$i18n.locale" size="medium">
          <el-option v-for="(label, key) in library.i18n"
            :key="key" :label="label" :value="key"/>
        </el-select>
      </div>
    </div>
  </div>
  <h2 v-text="$t('settings.network')"/>
  <div class="setting-group">
    <div class="setting-item">
      <div class="label" v-text="$t('settings.timeout')"/>
      <div class="control">
        <el-input v-model="timeout" size="medium">
          <template slot="append">{{ $t('settings.second') }}</template>
        </el-input>
      </div>
    </div>
  </div>
  <h2 v-text="$t('settings.browse')"/>
  <div class="setting-group">
    <div class="setting-item">
      <div class="label" v-text="$t('settings.speed')"/>
      <div class="control">
        <el-input v-model.number="$neatScroll.config.speed" size="medium"/>
      </div>
    </div>
    <div class="setting-item">
      <div class="label" v-text="$t('settings.smooth')"/>
      <div class="control">
        <el-input v-model.number="$neatScroll.config.smooth" size="medium"/>
      </div>
    </div>
  </div>
</div>