& {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.empty {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease;
    font-size: 240px;
    position: absolute;
    height: fit-content;
    width: fit-content;
}

.logo-enter-active, .logo-leave-active { transition: 0.5s ease }
.logo-enter, .logo-leave-to { opacity: 0 }

.cards {
    float: left;
    top: 0px;
    height: 100%;
    display: flex;
    transition: 0.5s ease;
}

.card {
    top: 0;
    height: 100%;
    user-select: none;
    position: relative;
    display: inline-block;
    transition: 0.5s ease;

    &.dragged { transition: none !important }

    ::-webkit-scrollbar { width: 6px }

    > .title {
        text-align: center;
        font-size: 20px;
        line-height: 1em;
        padding: 10px;
        cursor: default;
    }

    > .content {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    > .border {
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        cursor: ew-resize;
        transition: 0.5s ease;
    }

    &:last-child > .border { display: none }
}

.card-enter { opacity: 0; transform: translateY(100%) }
.card-leave-to { opacity: 0; transform: translateY(-100%) }
.card-enter-active, .card-leave-active, .card-move { transition: 0.5s ease }
