& {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.empty {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 240px;
    position: absolute;
    height: fit-content;
    width: fit-content;
}