<div @mousewheel.prevent.stop="viewScroll.scrollByDelta($event.deltaY)">
  <transition name="logo">
    <div v-if="!cards.length" class="empty">
      <i class="icon-discovery" @click.stop="insertCard()"/>
    </div>
  </transition>
  <transition-group class="cards" tag="div" name="card">
    <div v-for="card in cards" :key="card.id"
      :style="{ width: card.width + 'px' }" :class="['card', { dragged: dragStatus }]">
      <div class="title" v-text="card.title"
        @mousedown.middle.prevent.stop="removeCard(card.id)"
        @dblclick.prevent.stop="maximizeCard(card.id)"/>
      <component :is="card.type" class="content" :class="card.type"
        :width="card.width" :height="cardHeight" :id="card.id"
        :data="card.data" :style="{ height: cardHeight + 'px' }"/>
      <div class="border" @mousedown="startDrag(card.id, $event.clientX)"/>
      <loading v-show="card.loading"/>
    </div>
  </transition-group>
</div>