<div>
  <div class="input" :style="{width: itemWidth}">
    <div class="label">{{ $t('user.username') }}</div>
    <el-input v-model="username" :placeholder="$t('user.enterUsername')"/>
  </div>
  <div class="input" :style="{width: itemWidth}">
    <div class="label">{{ $t('user.password') }}</div>
    <el-input v-model="password" :placeholder="$t('user.enterPassword')" type="password"/>
  </div>
  <el-checkbox v-model="remember" size="medium">{{ $t('user.remember') }}</el-checkbox>
  <div class="buttons">
    <button @click.stop="login">{{ $t('user.login') }}</button>
    <button @click.stop="register">{{ $t('user.register') }}</button>
  </div>
</div>