$blue: #409eff;
$red: #f56c6c;
$green: #67c23a;
$orange: #e6a23c;

$fg0: #000000;
$fg1: #303133;
$fg2: #606266;
$fg3: #909399;
$fg4: #c0c4cc;

$bg0: #ffffff;
$bg1: #f2f6fc;
$bg2: #ebeef5;
$bg3: #e4e7ed;
$bg4: #dcdfe6;
