.navbar {
    background-color: #42433f; color: #fafaf5;
    button { background-color: #42433f; color: #a5a5a5 }
    button:hover { background-color: #393935; color: #fafaf5 }
}

.sidebar {
    $bgColor: #1e1f1c;
    background-color: $bgColor;

    button {
        background-color: $bgColor;
        color: #a5a5a5;
        &:hover, &.active { color: #fafaf5 }
    }

    .current-route { background-color: #9697a8 }
}

.view {
    background-color: #272822;
    color: #f8f8f2;
}

.settings .setting-group {
    $bdColor: #000000;
    box-shadow: 0 0 2px 2px $bdColor;
    .setting-item:not(:last-child) { border-bottom-color: $bdColor }
}

$bgColor: #42433f;
$bdColor: #393935;
$hovColor: #606266;
$textColor: #f8f8f2;
$actvColor: #409EFF;

.el-input__inner, & ~ .el-popper {
    background-color: $bgColor;
    border-color: $bdColor;
    color: $textColor;
}

& ~ .el-popper {
    .el-select-dropdown__item {
        color: $textColor;
        &.selected { color: $actvColor }
        &:hover, &.hover { background-color: $hovColor }
    }
}

& ~ .el-tooltip__popper {
    background: #303133;
    color: #ffffff;
}
