.navbar {
    background-color: #ffffff; color: #24292e;
    button { background-color: #ffffff; color: #586069 }
    button:hover { background-color: #e5e5e5; color: #24292e }
}

.sidebar {
    $bgColor: #56b1fc;
    background-color: $bgColor;

    button {
        background-color: $bgColor;
        color: #e0eefe;
        &:hover, &.active { color: #ffffff }
    }

    .current-route { background-color: #ffffff }
}

.user .info .item {
    border-color: #c0c4cc;
    &:last-child { border-color: #c0c4cc }
}

.settings .setting-group {
    $bdColor: #909399;
    box-shadow: 0 0 2px 2px $bdColor;
    .setting-item:not(:last-child) { border-bottom-color: $bdColor }
}

.empty {
    color: #dcdfe6;
}

$bgColor: #ffffff;
$bdColor: #dcdfe6;
$hovColor: #f5f7fa;
$capColor: #909399;
$textColor: #606266;
$actvColor: #409eff;

.view {
    background-color: #f0f1f2;
    color: #24292e;

    button {
        background-color: $bgColor;
        border: 1px solid $bdColor;
        color: $textColor;
    
        &:hover, &:active {
            background-color: $hovColor;
        }
    }
}

.el-input__inner,
.el-input-group__append,
.el-input-group__prepend,
& ~ .el-popper {
    background-color: $bgColor;
    border-color: $bdColor;
}

.el-input__inner, & ~ .el-popper { color: $textColor }
.el-input-group__append, .el-input-group__prepend { color: $capColor }

& ~ .el-popper {
    .el-select-dropdown__item {
        color: $textColor;
        &.selected { color: $actvColor }
        &:hover, &.hover { background-color: $hovColor }
    }
}

& ~ .el-tooltip__popper {
    background: #303133;
    color: #ffffff;
}

.el-checkbox{
    .el-checkbox__label { color: $textColor }
    &.is-checked .el-checkbox__label { color: $actvColor }
}

::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
    &:hover { background-color: #a1a1a1 }
    &:window-inactive { background-color: #d6d6d6; box-shadow: none }
}

.discovery {
    .card {
        background-color: #fafbfc;

        > .title { background-color: #e5e5e5 }

        .menu { 
            background-color: #fafbfc;
            border: none;
            color: #24292e;

            &:hover { background-color: #f0f1f2 }
        }

        > .border { background-color: #e5e5e5 }
        > .border:hover { background-color: #c0c4cc }
    }
}
